.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.nav-icons {
  text-decoration: none;
}

.divider-solid {
  border-style: solid;
}
.divider-dashed {
  border-style: dashed;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*idk whats below this, need to figure out*/

.MenuIcon {
    border-style: dashed;
}
.img {
  border-radius: 8px;
}

