.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}




/*idk whats below this, need to figure out*/
.divider {
    border-style: solid;
}
.MenuIcon {
    border-style: dashed;
}
.img {
  border-radius: 8px;
}

