h1 {
  text-align:center;
  color: blue;
    background-color: aqua;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  padding: 10px;
  border-radius: 10px;
}

h3 {
  text-align: center;
  color: blue;
    background-color: aqua;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  padding: 10px;
  border-radius: 10px;
}

body{
  background-color: lightgrey;
}

footer{
  text-align: center;
}

.dark {
 text-align: center;
  background-color: aqua;
  color: black;
  border-width: 5px;
  border-color: lightblue;
}

.light {
  text-align: center;
  background-color: deepskyblue;
  color: black;
  border-width: 5px;
  border-color: lightblue;
}

.div{
  text-align: center;  
  margin-left: auto;
  margin-right: auto;
}

.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.centerhi{
  margin-left: auto;
  margin-right: auto;
}

.cfooter{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table, th, td {
  border-color: blue;
}


nav ul li {
    list-style-type: none;
    display: inline;
    padding: 5px; 
    color: white;
    font-size: 20px;
    
}



nav ul {
    text-align:center;
   background-color: aqua;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 20px;
  border-radius: 10px;
}

nav ul li a {
    text-decoration: none;
}








.accept{
  border-width: 5px;
  border-color: blue;
  background-color: white;
  color: black;
  text-align: center; 
}

.amex{
  border-width: 5px;
  border-color: white;
  background-color: mediumblue;
  color: white;
  font-weight: bold ;
  text-align: center; 
}

.amex:hover{
  border-width: 5px;
  border-color: white;
  background-image: url("amex.png");
  color: white;
  font-weight: bold ;
  text-align: center; 
}

.visa{
  border-width: 5px;
  border-color: mediumblue;
  background-color: gold;
  color: white;
  font-weight: bold ;
  text-align: center; 
}

.visa:hover{
  border-width: 5px;
  border-color: mediumblue;
  background-image: url("visa.png");
  color: white;
  font-weight: bold ;
  text-align: center; 
}

.capital{
 border-width: 5px;
  border-color: red;
  background-color: white;
  color: blue;
  font-weight: bold ;
  text-align: center; 
}

.capital:hover{
 border-width: 5px;
  border-color: red;
background-image: url("Screenshot 2021-12-07 10.00.19 AM.png");
  color: blue;
  font-weight: bold ;
  text-align: center; 
}

.master{
   border-width: 5px;
  border-color: red;
  background-color: orange;
  color: yellow;
  font-weight: bold ;
  text-align: center; 
}

.master:hover{
   border-width: 5px;
  border-color: red;
  background-image: url("mastercard.png");
  color: yellow;
  font-weight: bold ;
  text-align: center; 
}

.paypal{
   border-width: 5px;
  border-color: mediumblue;
  background-color: aqua;
  color: white;
  font-weight: bold ;
  text-align: center; 
}

.paypal:hover{
   border-width: 5px;
  border-color: mediumblue;
 background-image: url("paypal.png");
  color: white;
  font-weight: bold ;
  text-align: center; 
}

.apple{
 border-width: 5px;
  border-color: black;
  background-color: silver;
  color: white;
  font-weight: bold ;
  text-align: center; 
}

.apple:hover{
 border-width: 5px;
  border-color: black;
  background-image: url("Apple.png");
  color: white;
  font-weight: bold ;
  text-align: center; 
}

.google{
   border-width: 5px;
  border-color: blue;
  background-color: red;
  color: gold;
  font-weight: bold ;
  text-align: center; 
}

.google:hover{
   border-width: 5px;
  border-color: blue;
  background-image: url("google.png");
  color: gold;
  font-weight: bold ;
  text-align: center; 
}




.cpu{
  border-width: 15px;
  border-color: lightgrey;
  background-color: darkgrey;
  color: black;
  font-weight: bold;
  text-align: center;
}

.i7{
  border-width: 15px;
  border-color: blue;
  background-color: white;
  color: mediumblue;
  font-weight: bold;
  text-align: center;
}

.i7:hover{
  
}

.i9{
  border-width: 15px;
  border-color: blue;
  background-color: white;
  color: mediumblue;
  font-weight: bold;
  text-align: center;
}

.i9:hover{
  
}

.amd1{
  border-width: 15px;
  border-color: firebrick;
  background-color: lightgrey;
  color: black;
  font-weight: bold;
  text-align: center;
}

.amd1:hover{
  
}

.amd2{
  border-width: 15px;
  border-color: firebrick;
  background-color: lightgrey;
  color: black;
  font-weight: bold;
  text-align: center;  
}

.amd2:hover{
  
}

.gpu{
  border-width: 15px;
  border-color: lightgrey;
  background-color: darkgrey;
  color: black;
  font-weight: bold;
  text-align: center;
}


.integrated{
  border-width: 15px;
  border-color: blue;
  background-color: white;
  color: mediumblue;
  font-weight: bold;
  text-align: center;  
}

.integrated:hover{
  
}

.n1{
  border-width: 15px;
  border-color: limegreen;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;  
}

.n1:hover{
  
}

.n2{
  border-width: 15px;
  border-color: limegreen;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;    
}

.n2:hover{
  
}

.n3{
  border-width: 15px;
  border-color: limegreen;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;    
}

.n3:hover{
  
}

.games{
  border-width: 15px;
  border-color: lightgrey;
  background-color: darkgrey;
  color: black;
  font-weight: bold;
  text-align: center;
}

.val{
  border-width: 15px;
  border-color: crimson;
  background-color: red;
  color: black;
  font-weight: bold;
  text-align: center;  
}

.val:hover{
  
}

.rocket{
  border-width: 15px;
  border-color: blue;
  background-color: white;
  color: mediumblue;
  font-weight: bold;
  text-align: center;    
}

.rocket:hover{
  
}

.cod{
  border-width: 15px;
  border-color: black;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: center;  
}

.cod:hover{
  
}

.halo{
  border-width: 15px;
  border-color: darkturquoise;
  background-color: white;
  color: darkturquoise;
  font-weight: bold;
  text-align: center;   
}

.halo:hover{
  
}
